/*RESET*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*FIN DEL RESET*/
body{
    background-color: aliceblue;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}
.logo{
    color:black;
    letter-spacing: 5px;
    font-family: 'DM Mono', monospace;
    font-size: 2.1em;
    text-shadow: 1px 1px 1px black;
}
.nav-links{
    display: flex;
    width: 50%;
    justify-content: space-around;
    font-family: 'Jost', sans-serif;
    font-size: 1.3em;;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.2em;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 4px;
    background-color: black;
    margin: 3px;
    transition: all 0.3s ease;
}

.home{
    background-color:#8CAFFF;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
.home h2{
    background-color:#3D5FAD;
    color: white;
    font-size: 2em;
    padding: 10px 35px;
    box-shadow: 3px 3px 8px #719AFB;
}
.home h4{
    background-color: aliceblue;
    color: #719AFB;
    font-size: 1.9em;
    padding: 5px 20px;
    box-shadow: 2px 2px 6px #719AFB;
}
/*About Container*/
.about{
    background-color: #3D5FAD;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#aboutMe{
    height: 90%;
    width: 80%;
    background-color: #e7be5f;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 5px 5px;
    box-shadow: 3px 3px 10px #886922;
}
#aboutMe h2{
    font-size: 2em;
}
#aboutMe h3{
    width: fit-content;
    font-size: 1.2em;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
}
#aboutMe p{
    width: 90%;
    font-size: 1.1em;
}
/*Back to home button*/
#floating_button{
    visibility: hidden;
    border-radius: 50%;
    position: fixed;
    bottom: 5vh;
    right: 2vw;
}
.portfolio{
    font-family: 'Inter', sans-serif;
    /*height: 60vh;*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.portfolio h2{ 
    font-size: 2em;
    text-align: center;
    margin-bottom: 3vh;
}
.portfolio p{
    font-size: 1.2em;
    text-align: center;
    width: fit-content;
    margin: 0 10px 5vh 10px;
    border-bottom: 1px solid black;
}
.project_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project_item{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 5px;
    border: 2px solid #3D5FAD;
    box-shadow: 2px 2px 3px #3D5FAD;
}
.project_item a{
    text-decoration: none;
}
.project_item img{
    height: 77%;
    width: auto;
}
.project_item h2{
    height: 12%;
    color: black;
}

.contact{
    background-color: #8CAFFF;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.contact h2{
    font-size: 2.5em;
    background-color: aliceblue;
    color: #719AFB;
    padding: 5px 10px;
}
.contact p, .contact h3{
    font-size: 1.5em;
    background-color: aliceblue;
    color: #719AFB;
    padding: 5px 10px;
    width: fit-content;
}
.contact a{
    text-decoration: none;
}
.contact p{
    width: fit-content;
    border-bottom: 1px solid #3D5FAD;
    margin: 0 15px;
}
.social a{
    margin: 0 5px;
}
.social img{
    opacity: 0.5;
}
.social img:hover{
    opacity: 1;
}

footer{
    height: 10vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    border-top: 1px solid #3D5FAD;
}


@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 10vh;
        background-color: #3D5FAD;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 0px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    .contact h3{
        font-size: 1.2em;
    }
}
@media screen and (max-width:768px){
    #aboutMe{
        font-size: 85%;
    }
}
.nav-active{
    width: 100%;
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,5px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-5px); 
}

